# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [55]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import citipy
# Import API key
from config import g_key

In [56]:
%matplotlib inline

In [57]:
gmaps.configure(api_key=g_key)
fig1 = gmaps.figure()
fig1

Figure(layout=FigureLayout(height='420px'))

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [58]:
vaca_cities_df = pd.read_csv (r'C:\Users\ICPC\Desktop\Data_Sci_Homework\Python-API-HW\WeatherPy\cities_df.csv')
print (vaca_cities_df)

          City  Cloudiness  Country          Date  Humidity      Lat  \
0      colares        20.0   3600.0  1.620053e+09      55.0  38.7992
1       barrow        90.0 -28800.0  1.620053e+09      86.0  71.2906
2       avarua        90.0 -36000.0  1.620053e+09      73.0 -21.2078
3       hasaki        20.0  32400.0  1.620053e+09      38.0  35.7333
4      kunming         0.0  28800.0  1.620053e+09      52.0  25.0389
..         ...         ...      ...           ...       ...      ...
546  mackenzie        90.0 -25200.0  1.620054e+09      87.0  55.2999
547   monrovia        75.0      0.0  1.620054e+09      66.0   6.3005
548      seoul         0.0  32400.0  1.620054e+09      58.0  37.5683
549  dubrajpur        90.0  19800.0  1.620054e+09      94.0  23.8000
550      rocha        64.0 -10800.0  1.620054e+09      52.0 -34.4833

          Lng  Max Temp  Windspeed
0     -9.4469     73.00      10.36
1   -156.7887     15.80       3.27
2   -159.7750     75.20       8.05
3    140.8333     59.00      10.36
4    102.7183     66.20      13.42
..        ...       ...        ...
546 -123.1698     35.60       3.44
547  -10.7969     91.40      10.36
548  126.9778     53.60       3.44
549   87.3833     77.00       5.75
550  -54.3333     77.09      12.71

[551 rows x 9 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [59]:
humidity = vaca_cities_df["Humidity"]
maxhumidity = humidity.max()
locations = vaca_cities_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    38.7992   -9.4469
1    71.2906 -156.7887
2   -21.2078 -159.7750
3    35.7333  140.8333
4    25.0389  102.7183
..       ...       ...
546  55.2999 -123.1698
547   6.3005  -10.7969
548  37.5683  126.9778
549  23.8000   87.3833
550 -34.4833  -54.3333

[551 rows x 2 columns]

In [60]:
figure = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=2)
figure.add_layer(heat_layer)
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [61]:
ideal_df = vaca_cities_df[(vaca_cities_df['Max Temp'].between(70,80)) & (vaca_cities_df['Windspeed']<10) & (vaca_cities_df['Cloudiness']=0)]
ideal_df.reset_index(inplace=True)
del ideal_df['index']


ideal_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,castro,0.0,-10800.0,1.620053e+09,47.0,-24.7911,-50.0119,74.98,0.81
1,cidreira,0.0,-10800.0,1.620053e+09,54.0,-30.1811,-50.2056,77.18,5.26
2,saint-pierre,0.0,14400.0,1.620053e+09,78.0,-21.3393,55.4781,78.80,2.30
3,le port,0.0,14400.0,1.620053e+09,83.0,-20.9373,55.2919,78.80,9.22
4,pimentel,0.0,-18000.0,1.620053e+09,61.0,-6.8367,-79.9342,77.00,4.61
5,saint-leu,0.0,14400.0,1.620053e+09,78.0,-21.1500,55.2833,78.80,2.30
6,saint-philippe,0.0,14400.0,1.620053e+09,78.0,-21.3585,55.7679,78.80,2.30
7,palmerston,0.0,34200.0,1.620053e+09,88.0,-12.4860,130.9833,75.20,3.44
8,sainte-suzanne,0.0,14400.0,1.620053e+09,83.0,-20.9061,55.6089,78.80,9.22
9,sekoma,0.0,7200.0,1.620053e+09,27.0,-24.4000,23.8833,71.96,8.28
10,saint-joseph,0.0,14400.0,1.620053e+09,78.0,-21.3667,55.6167,78.80,2.30

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [62]:
hotel_df = []

for x in range(len(ideal_df)):
    lat = ideal_df.loc[x]['Lat']
    lng = ideal_df.loc[x]['Lng']
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    response = requested.json()
    
    try:
        hotel_df.append(response['results'][0]['name'])
    except:
        hotel_df.append("")

In [63]:
ideal_df["Hotel Name"] = hotel_df
ideal_df
ideal_df = ideal_df.dropna(how='any')
ideal_df

C:\Users\ICPC\anaconda3\envs\Pythondata\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed,Hotel Name
0,castro,0.0,-10800.0,1.620053e+09,47.0,-24.7911,-50.0119,74.98,0.81,Castro
1,cidreira,0.0,-10800.0,1.620053e+09,54.0,-30.1811,-50.2056,77.18,5.26,CIDREIRA
2,saint-pierre,0.0,14400.0,1.620053e+09,78.0,-21.3393,55.4781,78.80,2.30,Saint Pierre
3,le port,0.0,14400.0,1.620053e+09,83.0,-20.9373,55.2919,78.80,9.22,Le Port
4,pimentel,0.0,-18000.0,1.620053e+09,61.0,-6.8367,-79.9342,77.00,4.61,Cercado de Pimentel
5,saint-leu,0.0,14400.0,1.620053e+09,78.0,-21.1500,55.2833,78.80,2.30,"Saint-Leu, RÃ©union"
6,saint-philippe,0.0,14400.0,1.620053e+09,78.0,-21.3585,55.7679,78.80,2.30,Saint-Philippe
7,palmerston,0.0,34200.0,1.620053e+09,88.0,-12.4860,130.9833,75.20,3.44,Darwin
8,sainte-suzanne,0.0,14400.0,1.620053e+09,83.0,-20.9061,55.6089,78.80,9.22,Sainte-Marie
9,sekoma,0.0,7200.0,1.620053e+09,27.0,-24.4000,23.8833,71.96,8.28,Sekoma
10,saint-joseph,0.0,14400.0,1.620053e+09,78.0,-21.3667,55.6167,78.80,2.30,Saint-Joseph

In [64]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in ideal_df.iterrows()]
locations = ideal_df[["Lat", "Lng"]]

In [65]:
# Add marker layer ontop of heat map
# Plot markers on top of the heatmap
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
figure.add_layer(markers)
# Display figure
figure

# Display figure

Figure(layout=FigureLayout(height='420px'))